apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: eci-services
  namespace: eci
  labels:
    app: eci-services
spec:
  selector:
    matchLabels:
      monitoring: enabled
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
      scrapeTimeout: 10s

