apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service
  namespace: eci
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-service
  template:
    metadata:
      labels:
        app: payments-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8083"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.36
          command:
            - sh
            - -c
            - until nc -z payments-db 5432; do echo "waiting for DB..."; sleep 5; done;
      containers:
        - name: payments-service
          image: payments-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8083
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://payments-db:5432/paymentsdb
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: payments-db-secret
                  key: POSTGRES_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: payments-db-secret
                  key: POSTGRES_PASSWORD
            - name: SERVER_PORT
              value: "8083"

          volumeMounts:
            - name: payments-csv
              mountPath: /app/init/payments/eci_payments.csv
              subPath: eci_payments.csv

          readinessProbe:
            httpGet:
              path: /v1/payments
              port: 8083
            initialDelaySeconds: 180
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 10
            successThreshold: 1

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8083
            initialDelaySeconds: 200
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5

          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
      volumes:
        - name: payments-csv
          configMap:
            name: payments-csv
---
apiVersion: v1
kind: Service
metadata:
  name: payments-service
  namespace: eci
  labels:
    app: payments-service
    monitoring: enabled
spec:
  type: NodePort
  selector:
    app: payments-service
  ports:
    - port: 8083
      targetPort: 8083
      nodePort: 30083
      name: http

