version: '3.8'

services:
  mysql-service:
    image: mysql:8.0
    container_name: catalog-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: catalog_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  catalog-service:
    build: .
    container_name: catalog-service
    environment:
      DB_HOST: mysql-service
      DB_USER: root
      DB_PASSWORD: root123
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8081:8081"
    depends_on:
      mysql-service:
        condition: service_healthy

volumes:
  mysql_data:
