apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  labels:
    app: catalog-service
spec:
  type: NodePort
  selector:
    app: catalog-service
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081
      protocol: TCP
      name: http
