apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: eci
  labels:
    app: catalog-service
    monitoring: enabled
spec:
  selector:
    app: catalog-service
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
      name: http
  type: NodePort

