apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: eci
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8081"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z inventory-db 3306; do echo "waiting for DB..."; sleep 5; done;']
      containers:
        - name: inventory-service
          image: inventory-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8081
          env:
            - name: DB_HOST
              value: inventory-db
            - name: DB_USER
              value: root
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: inventory-db-secret
                  key: MYSQL_ROOT_PASSWORD
            - name: DB_NAME
              value: inventorydb
            - name: DB_PORT
              value: "3306"
            - name: PORT
              value: "8081"

          readinessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 160
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 10
            successThreshold: 1

          livenessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 200
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5

          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: eci
spec:
  type: NodePort
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081
  selector:
    app: inventory-service

